		@font-face {
			font-family: 'Oswald';
			src: url('OSWALD.WOFF2') format('woff2'), url('OSWALD.WOFF') format('woff');
			font-weight: 400;
			font-style: normal;
		}

		@font-face {
			font-family: 'OpenSans';
			src: url('OPENSANS.WOFF2') format('woff2'), url('OPENSANS.WOFF') format('woff');
			font-weight: normal;
			font-style: normal;
		}

		:root {
			--accent: #45C0EC;
			--accent-alt: #4AB7FF;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: Oswald;
		}

		h2 em {
			color: var(--accent);
		}

		body {
			font-family: OpenSans;
			background-color: #000000;
			color: #ffffff;
		}

		a:link {
			color: var(--accent);
			background-color: transparent;
			text-decoration: none;
		}

		a:visited {
			color: var(--accent);
			background-color: transparent;
			text-decoration: none;
		}

		a:hover {
			color: var(--accent-alt);
			background-color: transparent;
			text-decoration: none;
		}

		a:active {
			color: var(--accent-alt);
			background-color: transparent;
			text-decoration: none;
		}

		html {
			scrollbar-face-color: #646464;
			scrollbar-base-color: #646464;
			scrollbar-3dlight-color: #000;
			scrollbar-highlight-color: #000;
			scrollbar-track-color: #000;
			scrollbar-arrow-color: #000;
			scrollbar-shadow-color: #646464;
		}

		::-webkit-scrollbar {
			width: 8px;
			height: 3px;
		}

		::-webkit-scrollbar-button {
			background-color: #000;
		}

		::-webkit-scrollbar-track {
			background-color: #646464;
		}

		::-webkit-scrollbar-track-piece {
			background-color: #000;
		}

		::-webkit-scrollbar-thumb {
			height: 50px;
			background-color: #666;
		}

		::-webkit-scrollbar-corner {
			background-color: #646464;
		}

		::-webkit-resizer {
			background-color: #666;
		}

		header {
			display: inline-block;
			vertical-align: top;
		}

		.column {
			float: left;
			width: 16%;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.warning {
			color: #FF0000 !important;
		}

		table {
			border-collapse: collapse;
			margin: 25px 0;
			text-align: center;
			min-width: 600px;
			font-family: OpenSans;
			vertical-align: middle;
		}

		table thead tr {
			background-color: var(--accent);
			color: #ffffff;
			font-size: 1.2em;
			font-family: Oswald;
			vertical-align: middle;
		}

		table th, table td {
			padding: 12px 15px;
			vertical-align: middle;
		}

		table tbody tr {
			font-size: 0.9em;
			vertical-align: middle;
		}

		table tbody tr:nth-of-type(even) {
			background-color: #272727;
			vertical-align: middle;
		}

		table tbody tr:last-of-type {
			border-bottom: 2px solid var(--accent);
			vertical-align: middle;
		}

		table tbody tr.active-row {
			font-weight: bold;
			color: #ffffff;
			vertical-align: middle;
		}

		.ltext {
			text-align: left !important;
		}

		.badge {
			vertical-align: top !important;
			height: 19px !important;
		}

		.fileicon {
			vertical-align: middle !important;
			width: 25px !important;
		}

		img {
			vertical-align: middle !important;
		}

		input[type=text], select, textarea {
			background-color: #292A2B;
			color: white;
			width: 90%;
			padding: 12px;
			border: 1px solid #ccc;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
		}

		input[type=submit] {
			background-color: var(--accent);
			color: white;
			padding: 12px 20px;
			border: none;
			cursor: pointer;
		}

		input[type=submit]:hover {
			background-color: var(--accent);
		}

		.container {
			width: 50%;
			border-radius: 5px;
			background-color: #2F2F2F;
			padding: 10px;
		}

		/* Website Version 1.6 - NEOSKI */